<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>SGFF - Sistema Gerenciamento de Funcionários e Frequência</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>
    <body>
        <header>
            <!-- As a heading -->
            <nav class="navbar navbar-light bg-light">
                <span class="navbar-brand mb-0 h1">Funcionários</span>
            </nav>
        </header>


        <section>
            <div class="container" style="width:90%; padding-bottom:30px;">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Identificação</th>
                            <th scope="col">CPF</th>
                            <th scope="col">Nome</th>
                            <th scope="col">RG</th>
                            <th scope="col">Cargo</th>
                            <th scope="col">Email</th>
                            <th scope="col">Data de Admissão</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  th:each="funcionario: ${funcionarios}">
                            <th scope="col"><span th:text="${funcionario.id}"></span></th>
                            <td><span th:text="${funcionario.cpf}"></span></td>
                            <td><span th:text="${funcionario.nome}"></span></td>
                            <td><span th:text="${funcionario.rg}"></span></td>
                            <td><span th:text="${funcionario.cargo}"></span></td>
                            <td><span th:text="${funcionario.email}"></span></td>
                            <td><span th:text="${funcionario.dataAdmissao}"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </body>
</html>
