
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>SGFF - Sistema Gerenciamento de Funcionários e Frequência</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>
    <body>
           <header>
            <!-- As a heading -->
            <nav class="navbar navbar-dark bg-dark">
                <a href="#" style="font-color:white;" class="navbar-brand">SGFF- Sistema de Gerenciamento de Funcionários e
                    Frequência</a>

                <div class="dropdown offset-md-5">
                    <button class="btn btn-secondary dropdown-toggle" style="background:none;border:none" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Relatórios
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button"></button>
                        <button class="dropdown-item" type="button">Aniversariante do Mês</button>
                        <button class="dropdown-item" type="button">Registro de pontos</button>
                    </div>
                </div>

                <a href="logout" class="navbar-brand" style="decoration:none;font-color:white; font-size: 15px;">Sair</a>
            </nav>
        </header>

        
        <section>
            <div class="container" style="width:90%; padding-bottom:30px;">
                <nav class="breadcumb">
                    <ol class="breadcumb">
                        <li class="breadcumb-item active" aria-current="page"><a href="/funcionarios"> Funcionários</a></li>
                    </ol>
                </nav>
                
                <span th:text="${funcionario.nome}"></span>
                <span th:text="${funcionario.rg}"></span>
                <span th:text="${funcionario.cpf}"></span>
                <span th:text="${funcionario.cargo}"></span>
            </div>
        </section>
    </body>
</html>
